body {
    background-color: #fffff2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin-bottom: 2.5%;
}

header h1 {
    text-align: center;
}

div.sideBySide {
    display: flex;
    flex-wrap: wrap;
}

figure#headerFigure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure#headerFigure figcaption {
    font-style: italic;
    text-align: right;
    font-size: smaller;
}

main {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

/* main h2 {
    text-decoration: underline;
} */
.seashellExample {
    background-color: seashell;
    border: 1px solid gray;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

a.backToOriginalLink {
    text-decoration: none;
}

a.backToOriginalLink:visited {
    color: blue;
}

section#tableOfContents a:visited {
    color: blue;
}

section h1 {
    text-align: center;
}

section kbd {
    font-size: 150%;
}

li.inputExample {
    list-style-type: none;
}

td:nth-child(2) {
    text-align: right;
}

span.exampleText {
    color: blue;
}

sup {
    font-weight: bolder;
}

ul#exampleList ul {
    margin-bottom: 5%;
}

ul#exampleList li {
    list-style-type: square;
}

ul#exampleList ul li {
    margin-top: 2%;
}

@media screen and (orientation: portrait) {
    figure  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    figure img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    div.sideBySide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        flex-direction: column;
    }

    div.sideBySide img {
        width: 100%;
        margin-bottom: 5%;
    }
}

@media screen and (orientation: landscape) {
    figure {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    figure img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    div.sideBySide {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-weight: bold;
    }

    div.sideBySide img {
        width: 100%;
        margin-bottom: 5%;
    }
}