/* WORD PROCESSOR STYLE */

body {
    background-color: #fffff2;
}

div#textareaContainer {
    display: block;
    width: 72.63vh;
    height: 94vh;
    margin-left: auto;
    margin-right: auto;
}

textarea#textarea {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    font-size: 18pt;
    text-align: justify;
    text-justify: auto;
    padding: 12px 24px 0 24px;
}

div#commandContainer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    left: 0;
    top: 0;
    height: 95vh;
    width: 17.5%;
}

div.commandStandby {
    visibility: hidden;
}

div.commandActive {
    visibility: visible;
}

div#commandContainer h3 {
    text-align: center;
}

div#commandContainer table {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

div#commandContainer td {
    border-bottom: 1px solid black;
}

tr td:last-child {
    padding-left: 10px;
}

div#fileNameContainer {
    position: fixed;
    right: 0;
    top: 0;
    height: 95vh;
    width: 12.5%;
}

div#buttons {
    display: none;
}

div#fileNameContainer h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 10px;
}

div#fileNameContainer ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer span {
    margin-left: 10px;
}