/* WORD PROCESSOR STYLE */

body {
    background-color: #fffff2;
}

div#textareaContainer {
    display: block;
    width: 73.41vh;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
}

textarea#textarea {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    font-size: 18pt;
    text-align: justify;
    text-justify: inter-word;
}

div#fileNameContainer {
    position: fixed;
    right: 0;
    top: 0;
    height: 95vh;
    width: 12.5%;
}

div#buttons {
    display: none;
}

div#fileNameContainer h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 10px;
}

div#fileNameContainer ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer span {
    margin-left: 10px;
}